POSTGRES_USER=postgres
POSTGRES_PASSWORD=123
POSTGRES_DB=prod # dev or prod
DB_HOST=127.0.0.1
DB_PORT=5432

POSTGRES_URL=postgresql://${POSTGRES_USER}:${POSTGRES_PASSWORD}@${DB_HOST}:${DB_PORT}/${POSTGRES_DB}

JWT_SECRET=i3rA8R4sXeNcCnXcjZgjJUkkKJc8M7ob7Tz1r7zOIgNod_lgJ9ub0XD_EZXIHIZ9e5i81mDc0FrZSCbFw1LvETcN4ugtlfck9oH8G8aDwM-JE-XnyBVunsKpZ67noLu1hRoRKiMWrbva4J0TWC6zgtjFL6Ru_jcsyJ3LJsLudljzhrwKmbYxBqvmp1hjkkLjAjgOhMFiw4PUgBolN-eOaJXSUg84sbZGXd-2UfOyB4aItXjbU83x_RWU4SkPdMBwxqPgS8lRXn1WCPh3iIxRlwwcl70dLi428XNzeToENup4IliEZr_K4bWB5pA3Wuez1vkngxWw2bCsHS7-Ywq0hh-bvoTIwlIpnS-pm_AQmHrPIkyipHp7HzvJDVDwuwRFAcs9eA7PjJu3DtAXEwULOgSyY-kx8rU1xS6c45IQekRRWIIFA06XDnICgb9FvUehMSt4gphKEkE8KrCH5Z-tvoPDFnN9BjK5p46kFpUurMFm4l-yl3kH8fv_lFNb1KwSpyrxEuX7H1HOzKdu3kmqLTBUuuHG-HsLcmxyDeaVon9BtGAREVov05UQBKbIZfzDsMT8b6N_ffXXCQhk-GcV-6b0KF4UTPowBpvmfbpI2fldU2vNnoZBqcoSWey1Q_MU-NW_MQCDSSuAPqn0QNVKBWUiCErlM23jRtLzw9-YLNo0H7wjeW5uSCqAft6i3NItOsDud4tvqsyCy_S66sF5KjIF7NWZjt9vWaxIRPJbsOExfpxiazvXBrJxaEXt__FdEsFIwUK6fCO2ckeiY0D364odYMk5GD5ZYfJQmXTUtJZSkgCCwNKI_HmbueHnRaxAMVit0faVSiHnCYELcscM0nhuGlcB8SskYGiV24u6ss6pmnMxiaWgqAhelWWaBeujC5GzkyX0XzsoWOb-pfWNW9P1EyKAgMTU5WwESw